<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopHarubang</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div class="search-box-container">
    <input
            type="text"
            id="search-box"
            placeholder="검색"
    />
</div>
<div class="context-box-container" id="context-box">
    <!-- 채팅 메시지가 이곳에 추가됩니다 -->
</div>
<script src="/js/script.js"></script>
</body>
</html>