<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopHarubang</title>
    <link rel="stylesheet" href="css/styles2.css">
</head>
<body>
<div class="search-box-container">
    <input
            type="text"
            id="search-box"
            placeholder="검색"
    />
    <div class="button-container">
        <button class="round-button">버튼 1</button>
        <button class="round-button">버튼 2</button>
        <button class="round-button">버튼 3</button>
        <button class="round-button">버튼 4</button>
        <button class="round-button">버튼 5</button>
    </div>
</div>
<div class="context-box-container" id="context-box">

</div>
<script src="js/script2.js"></script>
</body>
</html>